---
layout: default
title: Hello!
---

{% include hero.html %}

<main>
  <section class="about-me">
    <article class="bio">
      <h2>About Me</h2>
      <p>
        Sound is my deepest passion, it has driven everything I've done. It
        has led me towards a number of fruitful projects, including creating
        and teaching a computer music class at my alma mater. I'm also the
        co-founder of <a href="https://lute.luc.edu/">LUTE</a>, a technology
        ensemble with a focus on accessibility.
      </p>
      <p>
        <span>I currently work as a frontend engineer at</span>
        <a href="https://www.knowledgehound.com/">KnowledgeHound</a>
        <span>
          identifying and solving UX problems, establishing best engineering
          and A11Y practices, and collaborating with our design team on the
          component library that drives our product.
        </span>
      </p>
    </article>
    <article class="cover-image"></article>
  </section>

  <section class="project primary">
    <article>
      <h2>VODER</h2>
      <p>
        The VODER was an early form of speech synthesis designed by Bell Labs and demonstrated
        at the 1939 New York World's Fair. Requiring a human operator, Helen Harper was the first
        person to learn how to play it. Put yourself in her shoes and try to operate this simulation
        of the original console.
      </p>
      <a class="button" href="{{ "/voder" | prepend: site.url }}">Check it out</a>
      <a class="button secondary" href="{{ "/voder" | prepend: site.url }}">Read more</a>
    </article>
    <div class="img-container">
      <img
        src="/images/voder-logo-opt.svg"
        alt="Logo of the VODER project"
        >
    </div>
  </section>

  <section class="project secondary">
    <article>
      <h2>Loyola University Technology Ensemble</h2>
      <p>
        Founded as part of a computer music class I created and taught between
        my undergraduate and graduate studies, LUTE is a technology ensemble
        dedicated to accessibility and music education. We are best known for
        our performances of Terry Riley's 1964 classic <i>In C</i>.  Come see
        and perform with us!
      </p>
      <a class="button" href="https://lute.luc.edu/">Check it out</a>
      <a class="button secondary" href="https://lute.luc.edu/">Read more</a>
    </article>
    <div class="img-container">
      <img
        src="/images/luc-logo-opt.svg"
        alt="Crest of Loyola University Chicago"
      >
    </div>
  </section>

  <section class="project primary">
    <article>
      <h2>Other Projects</h2>
      <p>
        I am always working on something, whether its music, music software, or
        making plugins for my tmux &amp; Vim development environment. Click the
        link below to see some of my other open source projects as well as what
        I'm currently working on. Some of my project summaries and portfolio work
        are below as well.
      </p>
      <a class="button" href="https://github.com/{{ site.github_username }}">
        <span class="icon github"></span>
        <span>Check it out</span>
      </a>
    </article>
    <div class="img-container">
      <img
        src="/images/chemex-anim.svg"
        alt="An illustration of a Chemex coffee brewer"
      >
    </div>
  </section>

  <section class="extras">
    <article class="quick-links">
      <h2 aria-label="Quick" id="quick-link-label">Links</h2>
      <ul aria-labelledby="quick-link-label">
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon github" aria-hidden="true"></span>
            <span
              class="link-content"
              aria-label="Github Handle: @{{ site.github_username }}"
            >
            @{{site.github_username}}
            </span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter.username }}">
            <span class="icon twitter" aria-hidden="true"></span>
            <span
              class="link-content"
              aria-label="Twitter Handle: @{{ site.twitter.username }}"
            >
              @{{ site.twitter.username }}
            </span>
          </a>
        </li>
        <li>
          <a href="mailto:{{ site.email }}">
            <span class="icon email" aria-hidden="true"></span>
            <span
              class="link-content"
              aria-label="Email address: @{{ site.email }}"
            >
              {{ site.email }}
            </span>
          </a>
        </li>
      </ul>
    </article>
    <article class="writings-list">
      <h2>Writings</h2>
      <ul>
        {% for post in site.posts limit:3 %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta"> – {{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
        {% endfor %}
      </ul>
      <a class="button" href="/posts">See more</a>
    </article>
  </section>
</main>
