<footer>
  <section>
    <a href="/">
      <span class="icon coffee"></span>
      <span>Griffin Moe</span>
    </a>
    <a href="mailto:{{ site.email }}">
      <span class="icon email"></span>
      <span>{{ site.email }}</span>
    </a>
  </section>
  <section>
    <a href="https://github.com/{{ site.github_username }}">
      <span class="icon github"></span>
      <span class="username">{{ site.github_username }}</span>
    </a>

    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="icon twitter"></span>
      <span class="username">{{ site.twitter_username }}</span>
    </a>
  </section>
  <section>
    © {{ site.time | date: "%Y" }}
  </section>
</footer>
