<footer>
  <section>
    <a href="/">Griffin Moe</a>
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  </section>
  <section>
    <a href="https://github.com/{{ site.github_username }}">
      <span class="fa fa-github"> </span>
      <span class="username">{{ site.github_username }}</span>
    </a>

    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa fa-twitter"> </span>
      <span class="username">{{ site.twitter_username }}</span>
    </a>
  </section>
  <section>
    © {{ site.time | date: "%Y" }}
  </section>
</footer>
