<footer>
  <section>
    <a class="logo" href="/" aria-label="Go back home">
      <img src="/images/logo-white.svg" alt="Logo: abstract drawing of a microphone" />
    </a>
    <div class="copyright">© {{ site.time | date: "%Y" }}</div>
  </section>
  <section>
    <div class="footer-label" id="footer-contact-label">Contact</div>
    <ul aria-labelledby="footer-contact-label">
      <li>
        <a href="/">
          <span class="icon coffee" aria-hidden="true"></span>
          <span>Griffin Moe</span>
        </a>
      </li>
      <li>
        <a href="mailto:{{ site.email }}">
          <span class="icon email" aria-hidden="true"></span>
          <span aria-label="Email: {{ site.email }}">{{ site.email }}</span>
        </a>
      </li>
    </ul>
  </section>
  <section>
    <div class="footer-label" id="footer-social-label">Social</div>
    <ul aria-labelledby="footer-social-label">
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <span class="icon github" aria-hidden="true"></span>
          <span
            class="username"
            aria-label="Github: {{ site.github_username }}"
          >
            {{ site.github_username }}
          </span>
        </a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
          <span class="icon rss" aria-hidden="true"></span>
          <span class="username">Subscribe</span>
        </a>
      </li>
    </ul>
  </section>
</footer>
