<header class="site-header">

  <div class="site-header-wrapper">
    <div class="site-header-content">
      
      <a class="site-title" href="{{ site.baseurl }}/">
       <img class="site-header-avatar" src="/images/avatar.jpg" alt="Avatar">
       <h1 >{{ site.title }} </h1>
      </a>

      <hr class="site-header-hr">

      <nav class="site-nav">
        <a href="#" class="menu-icon">
          <span class="fa fa-navicon">
        </a>

        <div class="trigger">

          {% if page.url == "/index.html" %}
          <div class="link-button current-link">
          {% else %}
          <div class="link-button">
          {% endif %}
            <a class="page-link" href="/index.html">
              Resumé
            </a>
          </div>

          <span class="nav-separator"> & </span>

          {% if page.url != "/index.html" %}
          <div class="link-button current-link">
          {% else %}
          <div class="link-button">
          {% endif %}
            <a class="page-link" href="/projects.html">
              Projects
            </a>
          </div>

        </div>
      </nav>

      <hr class="site-header-hr">

      <div class="contact-buttons">
        <a href="https://github.com/{{ site.github_username }}">
          <span class="fa fa-github fa-2x"></span>
        </a>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <span class="fa fa-twitter fa-2x"></span>
        </a>
        <a href="mailto:{{ site.email }}">
          <span class="fa fa-envelope fa-2x"></span>
        </a>
      </div>
    </div>
  </div>

</header>
