<header class="hero" aria-label="Header">
  <div class="hero-content">
    <h1 class="title">Griffin Moe</h1>
    <p>
      I'm a software engineer<br aria-hidden="true" />
      exploring in the intersection<br aria-hidden="true" />
      of computers and music<br aria-hidden="true" />
      on the web and in your DAW.
    </p>
    <a class="cta" href="mailto:{{ site.email }}">
      Sound cool? Talk to me!
    </a>
  </div>
  <img
    src="/images/super-synth.svg"
    alt="An isometric illustration of a musical instrument."
  >
</header>
