<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/gmoe/" target="_blank">@gmoe</a></p>
<p><i class="fa fa-soundcloud fa-lg fa-fw"></i> <a href="http://soundcloud.com/griffinmoe_sounds" target="_blank">@griffinmoe_sounds</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/griffinmoe" target="_blank">linkedin.com/in/griffinmoe</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://griffinmoe.com/" target="_blank">griffinmoe.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:me@griffinmoe.com" target="_blank">me@griffinmoe.com</a></p>
