* {
  box-sizing: border-box;
}

html {
  display: grid;
  justify-content: center
}

body {
  max-width: 1600px;
  margin: 0;
  padding: var(--base-spacing);
  font-family: $font-family;
  font-size: $base-font-size;
  -webkit-text-size-adjust: 100%;
}

h2 {
  margin-top: 10px;
}

p {
  line-height: 1.7;
}

ul {
  margin-left: 0;
  padding-left: 0;

  li {
    line-height: 1.7;
    list-style-position: inside;
  }
}

a, a:visited {
  border-bottom: 2px solid white;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  transition: border-color ($global-timing / 2) ease-in;

  &:hover,
  &:focus { border-color: $red; }

  .post & {
    color: black;
    border-color: black;

    &:hover,
    &:focus { border-color: $red; }
  }
}

button,
.button {
  display: inline-block;
  padding: 10px 42px;
  background: white;
  color: $red;
  border-radius: 40px;
  border: 0;
  font-family: "Geometr706 Md BT", sans-serif;
  font-size: inherit;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 800;
  cursor: pointer;
  transition: text-decoration $global-timing ease-in;

  &::after {
    content: '';
    display: block;
    width: 0%;
    margin-left: 50%;
    height: 3px;
    background: $red;
    border-radius: 3px;
    transition-property: margin-left, width;
    transition-duration: 150ms;
  }

  &:hover,
  &:focus {
    color: $red;

    &::after {
      width: 100%;
      margin-left: 0;
    }
  }

  &:visited,
  &:visited:hover {
    color: $red;
  }

  &.secondary {
    border: 2px solid white;
    background: transparent;
    color: white;

    &::after { background: white; }
    &:hover {
      color: white;
      border-color: white;
    }
  }
}
