* {
  box-sizing: border-box;
}

html {
  display: grid;
  justify-content: center
}

body {
  max-width: 1600px;
  margin: 0;
  padding: $base-spacing;
  font-family: $font-family;
  font-size: $base-font-size;
  -webkit-text-size-adjust: 100%;
}

p,
ul li {
  line-height: 1.7;
}

a, a:visited {
  white-space: nowrap;
  color: white;
  transition: color ($global-timing / 2) ease-in;

  &:hover { color: mix(white, $red, 25%); }
  &:focus { color: mix(white, $red, 50%); }
}
