footer {
  display: grid;
  padding: 40px 15%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background: $dark-blue;
  color: white;

  section {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 5px;
    white-space: nowrap;

    a, a:visited {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-gap: 5px;
      align-items: center;
      color: white;
    }
  }
}
