footer {
  display: grid;
  padding: 40px 15%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background: $dark-blue;
  color: white;

  section {
    display: grid;
    grid-gap: 5px;

    a, a:visited {
      color: white;
    }
  }
}
