/**
 * Site header
 */
.site-header {
  display: block;
  position: fixed;
  z-index: 900;

  width: $site-header-width;
  height: 100%;
  max-width: 375px;

  background-color: #02779E;
}

.site-header-wrapper {
  min-width: 200px;
  margin: 30px auto;
  vertical-align: middle;
  text-align: center;
}

.site-header-content {
  max-width: 620px;
  margin: auto 0;
}

.site-header-avatar {
  border: 3px solid white;
  border-radius: 100%;
  width: 75%;
  height: 75%;
  max-width: 150px;
  padding: 15px;
}

.site-header-hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  width: 75%;
  max-width: 175px;
  margin: auto;
}

.site-title, .site-title h1 {
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 1px;
  margin: 15px 0;

  &,
  &:visited,
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.contact-buttons {
  .fa {
    color: white;
  }

  a {
    display: inline-block;
    margin-top: 25px;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.site-nav {
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .link-button {
    display: inline-block;
    padding: $spacing-unit * 0.5 0;
  }

  .current-link a {
    border-bottom: 1px solid rgba(255,255,255,0.7);
    padding-bottom: 5px;
  }

  .nav-separator {
    color: white;
    font-size: 19px;
    font-weight: 100;
    margin: 0 5px;
  }

  .page-link {
    color: white;
    line-height: $base-line-height;
    letter-spacing: 1px;
    font-size: 17px;

    // Gaps between nav items, but not on the first one
    //&:not(:first-child) {
    //  margin-left: 15px;
    //}
    &:hover {
      text-decoration: none
    }
  }

  @include media-query($on-laptop) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      color: black;
      padding: 5px 10px;
    }
  }
}

@include media-query($on-laptop) {
  .site-header {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 999999px;
  }
}

