.no-wrap {
  white-space: nowrap;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'about photo' 'projects projects';
  grid-gap: $base-spacing;

  article {
    height: 500px;
    padding: 40px 60px;
    grid-template-columns: 1fr 1fr;

    img {
      width: 100%;
      align-self: center;
      background: white;
    }
  }

  p a {
    white-space: nowrap;
  }

  article:nth-child(1) {
    color: white;
    background: $blue;
  }

  article:nth-child(2) {
    background-color: $yellow;
    background-image: linear-gradient(rgba($yellow, 0.5), rgba($yellow, 0.5)), url(/images/modular.png);
    background-size: cover;
    background-position: center;
  }
}

.project {
  display: grid;
  grid-template-rows: 300px;
  margin-bottom: $base-spacing;


  &:nth-child(odd) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'info image';

    article { background: $blue; }
    img { border-color: $blue; }
    .button {
      color: $blue;

      &.secondary {
        color: white;
        &::after { background: white; }
      }

      &::after { background: $blue; }
    }
  }

  &:nth-child(even) {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'image info';

    article { background: $red; }
    img { border-color: $red; }
  }

  & + & { margin-top: $base-spacing; }

  img {
    grid-area: image;
    height: 100%;
    padding: 20px;
    object-fit: contain;
    align-self: stretch;
    justify-self: stretch;
    border: 5px solid;
  }

  article {
    grid-area: info;
    padding: 20px 40px;
    background-color: $red;
    color: white;

    a + a { margin-left: 5px; }
  }
}

.music {
  display: grid;
  margin-bottom: $base-spacing;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 300px;
  grid-column-gap: $base-spacing;

  article:nth-child(1) {
    padding: 20px 40px;
    background: $yellow;
    color: $black;

    ul {
      padding-left: 0;
      list-style: none;

      li + li { margin-top: 10px; }

      a {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 30px min-content;
        grid-gap: 10px;
        align-items: end;
        justify-items: center;
        text-decoration: none;
        border: none;
        color: $black;

        &:hover .link-content { border-bottom-color: $red; }

        .icon { font-size: 1.75rem; }
        .link-content {
          border-bottom: 2px solid $black;
          transition: border-bottom-color $global-timing ease;
        }
      }
    }
  }

  article:nth-child(2) {
    padding: 20px 40px;
    background: $blue;
    color: white;

    .button {
      color: $blue;

      &::after { background: $blue; }
    }
  }
}
