.statement {
  margin-left: $spacing-unit;
  margin-right: $spacing-unit;
}

.section-title {
  margin-bottom: $spacing-unit;
}

.section {
  margin-bottom: $spacing-unit; 

  li {
    margin-bottom: $spacing-unit * 0.25;
  }
}

.section-title {
  border-bottom: 1px solid $grey-color-light;
}

.entry {
  margin-bottom: $spacing-unit * 1.5;
}

.entry-heading {
  clear: both;
  overflow: hidden;
  h2,h3 {
    margin-bottom: 0;
  }
}

.entry-subheading {
  clear: both;
  overflow: hidden;
  h2,h3 {
    margin-bottom: $spacing-unit * 0.5;
  }
}

.entry-description {
}

@media (min-width: $on-laptop) {
  .align-left {
    float: left;
  }

  .align-right {
    float: right;
  }
}
