---
layout: default
---
<div class="post">

  <header class="post-header">
    <div>
      <h1>
        <a href="/">Griffin Moe</a>
      </h1>
      <h2 class="section-title">{{ page.title }}</h2>
      <p class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}
      </p>
    </div>
    <img
      src="/images/super-synth.svg"
      alt="An isometric illustration of a musical instrument."
    >
  </header>


  <article class="post-content">
    {{ content }}
  </article>

</div>
